/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Nabuki Sky Theme*/
:root {
    --primary: #bfdbfe;
    --primary_variant: #93c5fd;
    --secondary: #ffffff;
    --secondary_variant: #ffffff;
    --background: #dbeafe;
    --typography: #000000;
    --dark_primary: #64748b;
    --dark_primary_variant: #334155;
    --dark_secondary: #1e293b;
    --dark_secondary_variant: #64748b;
    --dark_background: #0f172a;
    --dark_typography: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Scrollbar style */
::-webkit-scrollbar {
    width: 20px;
}

/* Scrollbar background colour */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Scrollbar thumb colour */
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

/* Scrollbar hover effect */
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* No scrollbar*/
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
