/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #E0FBFC;
    font-family: "Roboto", sans-serif;
}

/* Scrollbar style */
::-webkit-scrollbar {
    width: 20px;
}

/* Scrollbar background colour */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Scrollbar thumb colour */
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

/* Scrollbar hover effect */
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}